.quote {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    padding: 0 20px 20px 20px;
}

.actions {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.actions a,
.actions button {
    color: darkblue;
    text-decoration: none;
    font-size: 16px;
}

.actions button {
    background-color: transparent;
    border: 0;
    margin-left: 15px;
    cursor: pointer;
}

.actions a:hover,
.actions button:hover {
    text-decoration: underline;
}